In [1]:
import pandas as pd

In [2]:
# reading the csv file
df_exam = pd.read_csv('StudentsPerformance.csv')
df_exam.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## 1. Selecting One Column

### 1.1 Syntax 1

In [5]:
# select a column with [] (preferred way to select a column)
df_exam['lunch']

0          standard
1          standard
2          standard
3      free/reduced
4          standard
           ...
995        standard
996    free/reduced
997    free/reduced
998        standard
999    free/reduced
Name: lunch, Length: 1000, dtype: object

In [6]:
# check out the data type of a column
type(df_exam['lunch'])

pandas.core.series.Series

In [4]:
# series: attribute and methods
df_exam['lunch'].index
df_exam['lunch'].head()

0        standard
1        standard
2        standard
3    free/reduced
4        standard
Name: lunch, dtype: object

### 1.2 Syntax 2

In [14]:
# select a column with .
df_exam.lunch

0          standard
1          standard
2          standard
3      free/reduced
4          standard
           ...
995        standard
996    free/reduced
997    free/reduced
998        standard
999    free/reduced
Name: lunch, Length: 1000, dtype: object

In [17]:
# select a column with . (pitfalls)
df_exam.reading score

SyntaxError: invalid syntax (1657699357.py, line 2)

In [20]:
# select the same column using []
df_exam['reading score']

0      72
1      90
2      95
3      57
4      78
       ..
995    99
996    55
997    71
998    78
999    86
Name: reading score, Length: 1000, dtype: int64